{% extends 'html.html.twig' %}

{% block body %}
	<div class="ui middle aligned center aligned grid">
		<div class="column">
			<h2 class="ui teal image header">
				<div class="content">
					Login
				</div>
			</h2>
			<form action="{{ path('login') }}" method="post" class="ui large form">
				<div class="ui stacked segment">
					{% if error %}
						<div class="ui negative message">
							<i class="close icon"></i>
							<div class="header">Login fehlgeschlagen!</div>
							<p>{{ error.messageKey|trans(error.messageData, 'security') }}</p>
						</div>
					{% endif %}
					<div class="field">
						<div class="ui left icon input">
							<i class="user icon"></i>
							<input type="text" name="_username" placeholder="Username" value="{{ last_username }}"/>
						</div>
					</div>
					<div class="field">
						<div class="ui left icon input">
							<i class="lock icon"></i>
							<input type="password" name="_password" placeholder="Passwort">
						</div>
					</div>
					<button type="submit" class="ui fluid large teal submit button">Login</button>
				</div>

				<div class="ui error message"></div>

			</form>

			<div class="ui message">
				Passwort vergessen? Schade!
			</div>
		</div>
	</div>
	<link rel="stylesheet" type="text/css" href="{{ asset('css/login.css') }}"/>

{% endblock %}
