
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> .idea files ###
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/rezeptdb.iml
.idea/vcs.xml
.idea/workspace.xml
###< .idea files ###

###> lock files
package-lock.json
###< lock files

###> some public folders
public/cache/*
public/uploads/*
###< public folder

node_modules