
###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/web-server-bundle ###
.web-server-pid
###< symfony/web-server-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
###< phpunit/phpunit ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
###< symfony/webpack-encore-pack ###

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###

###> .idea files ###
.idea/misc.xml
.idea/modules.xml
.idea/php.xml
.idea/rezeptdb.iml
.idea/vcs.xml
.idea/workspace.xml
###< .idea files ###

###> lock files
package-lock.json
###< lock files

###> some public folders
public/cache/*
public/uploads/*
###< public folder