{% extends 'html.html.twig' %}

{% block body %}
	<div class="ui container" id="main-container">
		{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
			{{ include('navigation.html.twig') }}
		{% endif %}

		{% for message in app.flashes('success') %}
			<div class="ui positive message">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('warning') %}
			<div class="ui warning message">{{ message }}</div>
		{% endfor %}
		{% for message in app.flashes('error') %}
			<div class="ui negative message">{{ message }}</div>
		{% endfor %}

		{% block content %}{% endblock %}
	</div>

{% endblock %}

