{% extends 'base.html.twig' %}

{% block title %}Suchergebnisse für: {{ searchString }}{% endblock %}

{% block content %}

	{% if recipes is not empty %}
		<h1>Suchergebnisse für: {{ searchString }}</h1>
		<div class="ui segment">
			<div class="ui four doubling stackable cards">
				{% for recipe in recipes %}
					{{ include('recipe.card.html.twig', { 'recipe': recipe }) }}
				{% endfor %}
			</div>
		</div>
	{% endif %}

{% endblock %}
