{% extends 'base.html.twig' %}

{% block title %}Tags{% endblock %}

{% block content %}

    <div class="ui segment">
        <div class="ui four doubling stackable cards">
            {% for tag in tags %}
                {{ include('tag.card.html.twig', { 'recipe': tag }) }}
            {% endfor %}
        </div>
    </div>

{% endblock %}
